html{
    background-image:url(landing_page.jpg);
    background-size: cover;
}

header{
    background-image: linear-gradient(to right, lightblue, pink);
    opacity: 0.8;
    margin: auto;
    padding: 1.4em 0;
}
#topnav{
    font-size: 1.8em;
    float: right;
    vertical-align: middle;
    overflow: auto;
}
.panel{
    padding-bottom: 50%;
    float: left;
    width: 33.3%;
}
#sidenav{
    background-color: gainsboro;
    opacity: 0.5;
    font-size: 1.7em;
    text-align: center;
    width: 19%;
    line-height: 300%;
}
#centerfeed{
    width: 60%;
    padding-left: 1em;
    padding-right: 1em;
}
#sidesugg{
    background-color: gainsboro;
    opacity: 0.7;
    width: 18%;
    padding-left: 5px;
    padding-right: 5px;
    align-content: center;
}
section{
    background-color: white;
    border: 2.5px solid black;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 5px;
}
.main {
    position: relative;
    top: 7em;
    height: fit-content;
    width:110em;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    margin: 0 auto;
    /* background: #818181; */
    /* background-image: url("../Assets/landing_page.jpg"); */
    background-repeat: no-repeat; 
    background-size: 100% 100%;

    
  }
  .post{
    border-style: solid;
    padding: 2em;
    margin-top: 3em;
    
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2em;
    height: 15em;
    width: 60em;
  }
  table, td{
    /* border: 3px solid black; */
    border-collapse: collapse;
    background-color:#2196F3;
    padding: 3em;
    width: 60em;
    height: 7em;
    text-align: center;
    table-layout: auto;
    
  }