html{
    background-image: url(https://cdn.discordapp.com/attachments/820404756727726081/822895768880283699/landing_page.jpg);
     background-size: cover;
    background-repeat: repeat;
    color: white;
    }

#profileForm{

color:white;
text-align: center;

}

.profile-avatar {
    width: 200px;
    position: relative;
    margin: 0px auto;
    margin-top: 50px;
    border: 4px solid #f3f3f3;
    border-radius: 5px;
  }

  title{
      color:white;
  }

  .userNameDisplay{
      color:white;
  }