Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-image: url(landing%20page.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
#submit {   
    background-color: lightgreen;   
    width: 100%;  
    color: white;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;
}  

form {  
    padding-bottom: 250px;
    padding-left: 250px;
    padding-right: 250px;
}  

input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 3px solid green;   
    box-sizing: border-box;   
} 

#fusername, #fpassword { 

    text-align: center;
    font-size: 30px;
    
}

#logintext { 
    font-size: 35px;
    text-align: center;
    font-style: bold;
}

.container {   
    padding: 50px; 
    background-color: beige; 
}  

.topnav-right { 
    float: right;
    text-align: center;
    padding: 18px 20px;
    font-size: 25px;
    background-color: lightgray;
}
.active-page { 
    font-style: bold;
    border-color: brown;
}

#logoname { 
    font-size: 60px;
}


#avatar { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}